<!DOCTYPE html>

<html>

	<head>

		<title>The Traveler</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="http://ryanwaite28.github.io/my-cdn/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="http://ryanwaite28.github.io/my-cdn/css/emerald.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 475px)" href="mobile-style.css">
		<link rel="icon" type="image/png" size="20x20" href="https://image.freepik.com/free-icon/airplane-around-earth_318-61627.png"/>
		<script src="http://ryanwaite28.github.io/my-cdn/js/angular.js"></script>
		<script src="http://ryanwaite28.github.io/my-cdn/js/jquery.js"></script>
		<script src="http://ryanwaite28.github.io/my-cdn/js/emerald.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
		<script src="script.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSHPWjouiZzdAI_EhWkuuLsFMEGTgyYWE&libraries=places&callback=initMap" async defer></script>
	</head>

	<body ng-app="myApp" ng-controller="masterCtrl">

		<h3 id="msg1"><b>Saved Location and Markers Loaded!</b></h3>
		<h3 id="msg2"><b></b></h3>

		<a title="Click Me For A Brief Description" href="#">
			<img id="me-icon" onclick="bioLog(this)" src="http://icons.iconarchive.com/icons/icons8/android/512/Users-User-icon.png"/>
		</a>

		<a title="Show Sidebar" href="#">
			<img id="menu-icon" onclick="bioLog(this)" src="http://i.imgur.com/huBw3xR.png"/>
		</a>

		<input style="left: 10px;" type="text" id="pac-input" placeholder="Enter a Location"/>
		<a title="Click Icon To Zoom Out" href="#">
			<img id="refresh" src="https://cdn3.iconfinder.com/data/icons/mobiactions/512/refresh_reload_arrow_sync-512.png">
		</a>
		<div id="map-div">

		</div>

		<div id="sd-d">
		<a href="#"><img id="saved-icon" src="https://i.warosu.org/data/g/img/0449/16/1414539582291.png"/></a>
		<div id="saved-div">
			<h2 class="text-center"><b>Saved Places</b></h2>
			<p class="text-center"><b>Places I've Been To!</b></p>
			<hr>
			<ul class="search-list">
				<li ng-repeat="place in travels" ng-click="showMarkerTwo(this.place)">
					<h3><b>{{place.name}}</b></h3>
					<img class="icon1" src="{{place.icon}}"/>
					<p><b>Location:</b> <br>{{place.location}}</p>
					<p><b>Date Explored:</b> <br>{{place.date}}</p>
					<hr>
					<p><b>Message:</b> <br>{{place.message}}</p>
				</li>
			</ul>
		</div>
	</div>

		<div id="sh-d">
			<a href="#"><img id="search-icon" src="https://image.freepik.com/free-icon/active-search-symbol_318-50386.png"/></a>
		<div id="search-div">
			<h2 class="text-center"><b>Search Google Places</b></h2>
			<p class="text-center" id="message1"></p>
			<input class="middlr" id="query" type="text" placeholder="Query"/><br>
			<input class="middlr" id="city" type="text" placeholder="City, State"/><br>
			<input class="middlr" id="submit-btn" type="button" value="Submit" ng-click="searchPlaces()"/>
			<hr>
			<ul class="search-list">
				<li ng-repeat="place in places" ng-click="showMarker(this.place)">
					<h3><b>{{place.name}}</b></h3>
					<img class="icon1" src="{{place.icon}}"/>
					<p>{{place.vicinity}}</p>
					<input type="button" value="Add To Saved" ng-click="addPlace(place)"/>
				</li>
			</ul>
		</div>
	</div>

		<div id="md">
			<a href="#"><img id="marker-icon" src="https://image.freepik.com/free-icon/map-marker_318-50706.png"/></a>
		<div id="marker-div">
			<h2 class="text-center"><b>Last Search Result<br>
			From AutoComplete</b></h2>
			<hr>
			<b><h3 class="text-center" id="lo-name"></h3></b>
			<img class="middlr" id="s-img" src=""/>
			<p class="text-center" id="lo-address"></p>
			<p class="text-center"><a id="lo-link" href="">Click For More Info</a></p>
			<input class="middlr" type="button" id="add1-btn" value="Add To Saved" ng-click="addLocationOne()"/>
			<br>
		</div>
	</div>

	<div id="fs-d">
		<a href="#"><img id="fs-icon" src="https://image.freepik.com/free-icon/foursquare-logo_318-102663.jpg"/></a>
		<div id="fs-div">
			<h2 class="text-center"><b>Search FourSquare</b></h2>
			<input class="middlr" type="text" id="query2" placeholder="Search Query"><br>
			<input class="middlr" type="text" id="city2" placeholder="Search City"><br>
			<input class="middlr" id="submit-btn" type="button" value="Submit" ng-click="loadPlaces()"><br>
			<input class="middlr" id="place-filter" ng-keyup="filterResults()" ng-model="filter" placeholder="Filter Results by Place Name"/>
			<hr>
			<ul class="search-list">
				<li title="Click Any List Item To Show Its Marker On the Map" class="fq-items" ng-repeat="fsplace in fsplaces | filter: {placeName:filter}" ng-click="FQshowMarker(this)">
					<div>
						<b><h4>{{fsplace.placeName}}</h4></b>
						<img src="{{fsplace.placeIcon}}"/>
						<p>
							<span>{{fsplace.placeAddress}}</span>
							<br>
							<span>{{fsplace.placeCity}}</span>, <span>{{fsplace.placeState}}</span>, <span>{{fsplace.placeZip}}</span>
							<br>
							<span>{{fsplace.placeCountry}}</span>
							<p><span>Phone: {{fsplace.placePhone}}</span></p>
							<span>Status: {{fsplace.placeStatus}}</span>, <span>Specials: {{fsplace.placeSpecials}}</span>
							<input type="button" value="Add To Saved" ng-click="FQaddPlace(fsplace)"/>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div id="side-bar">

		<div id="sb-inner">

			<div id="ktr">
				<a href="#"><img id="close-icon" src="http://i.imgur.com/ui9PvET.png?1"/></a>
				<h1 id="sb-ht">Travelr</h1>
			</div>
			<br>


			<div style="margin-top: 60px;" id="">
				<hr>
				<h3 class="text-center">Profile</h3>
			</div>
			<hr>

			<div id="">
				<h3 class="text-center">Travels</h3>

			</div>
			<hr>

			<div id="">
				<h3 class="text-center">Marker</h3>
			</div>
			<hr>

			<div id="">
				<h3 class="text-center">Friends</h3>
			</div>
			<hr>

			<div id="">
				<h3 class="text-center">Settings</h3>
			</div>
			<hr>

		</div>

	</div>

	</body>

</html>
