/* New Mobile Style */

@media only screen and (max-width: 475px) {

	#place-filter {
		display: none;
	}

	#sd-d {
	  top: 50px;
		right: 10px;
	}

	#sh-d {
	  top: 50px;
		right: 60px;
	}

	#md {
	  top: 50px;
		right: 110px;
	}

	#fs-d {
	  top: 50px;
		right: 160px;
	}

	#refresh {
		top: 50px;
		left: 10px;
	}

	#pac-input {
		width: 63%;
	}

	.icon1 {
		width: 50%;
	}

	#search-div {
		top: 50px;
		right: -50px;
		margin: auto;
		min-height: 5px;
	}
	#marker-div {
		top: 50px;
		right: -100px;
		margin: auto;
		min-height: 5px;
	}
	#saved-div {
		top: 50px;
		right: 0px;
		margin: auto;
		min-height: 5px;
	}
	#fs-div {
		top: 50px;
		right: -150px;
		margin: auto;
		min-height: 5px;
	}
	
	#me-icon {
		top: 100px;
		right: 10px;
	}
	#menu-icon {
		top: 100px;
		right: 60px;
	}


	.search-list {
		height: 50vh;
	}

	#msg1, #msg2 {
		font-size: 16px;
	}

}

@media only screen and (max-width: 320px) {

	#pac-input {
		width: 58%;
	}

	#search-div,
	#saved-div,
	#marker-div,
	#fs-div {
		width: 300px;
	}

	.search-list {
		height: 50vh;
	}

}
