/* New Style */

body {
  overflow: hidden;
}

hr {
  border-color: lightgrey;
}

#map-div {
  width: 100%;
  height: 100vh;
}

#pac-input {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  /* margin-left: 17px; */
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  z-index: 10;
  position: absolute;
  left: 114px;
  top: 0px;
}
.infobox {
  max-width: 235px;
}

#saved-icon {
  /*position: absolute;
  top: 110px;
  right: 10px;*/
  height: 40px;
  width: 40px;
  opacity: 0.7;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#fs-icon {
  /*position: absolute;
  top: 110px;
  right: 10px;*/
  padding: 5px;
  background-color: white;
  height: 40px;
  width: 40px;
  opacity: 0.7;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search-icon {
  /*position: absolute;
  top: 60px;
  right: 10px;*/
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: white;
  opacity: 0.7;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#marker-icon {
  /*position: absolute;
  top: 10px;
  right: 10px;*/
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: white;
  opacity: 0.7;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#saved-icon:hover, #search-icon:hover, #marker-icon:hover {
  opacity: 1.0;
}

#saved-div {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -100px;
  right: 45px;
  z-index: 100;
  min-height: 25vh;
  max-height: 80vh;
  width: 325px;
  /*max-width: 100%;*/
  background: rgba(255,255,255,.65);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}

#search-div {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -50px;
  right: 45px;
  z-index: 100;
  min-height: 25vh;
  width: 325px;
  /*max-width: 100%;*/
  background: rgba(255,255,255,.65);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}
#fs-div {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -150px;
  right: 45px;
  z-index: 100;
  min-height: 25vh;
  width: 325px;
  background: rgba(255,255,255,.65);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}
#marker-div {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0px;
  right: 45px;
  z-index: 100;
  min-height: 25vh;
  max-height: 80vh;
  width: 325px;
  background: rgba(255,255,255,.65);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}

#md {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;

}
#sh-d {
  position: absolute;
  top: 60px;
  right: 10px;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}
#sd-d {
  position: absolute;
  top: 110px;
  right: 10px;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}
#fs-d {
  position: absolute;
  top: 160px;
  right: 10px;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
}

#md:hover #marker-div,
#sh-d:hover #search-div,
#sd-d:hover #saved-div,
#fs-d:hover #fs-div {
  visibility: visible;
  opacity: 1.0;
}

#search-div:hover,
#saved-div:hover,
#marker-div:hover,
#fs-div:hover {
  background: rgba(255,255,255,.95);
}

.search-list {
  margin: 0px;
  padding: 5px;
  text-align: center;
  height: 45vh;
  width: 100%;
  overflow-y: scroll;
}

.search-list li {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: grey;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
  opacity: 0.9;
}
.search-list li:hover {
  background-color: lightgrey;
  opacity: 1.0;
}
.search-list li:hover hr {
  border-color: grey;
}

#refresh {
    height: 40px;
    width: 40px;
    position: absolute;
    -webkit-transition: transition 0.3s;
    transition: 0.3s;
    top: 210px;
    right: 10px;
    background-color: white;
    opacity: 0.6;
    z-index: 100;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#refresh:hover {
    opacity: 1.0;
}

#me-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    -webkit-transition: transition 0.3s;
    transition: 0.3s;
    bottom: 30px;
    left: 10px;
    background-color: white;
    opacity: 0.6;
    z-index: 10;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#me-icon:hover {
    opacity: 1.0;
}

#menu-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    -webkit-transition: transition 0.3s;
    transition: 0.3s;
    bottom: 80px;
    left: 10px;
    background-color: white;
    opacity: 0.6;
    z-index: 10;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#menu-icon:hover {
    opacity: 1.0;
}

#msg1 {
  font-weight: 800;
  font-family: Arial;
  position: absolute;
  bottom: 20%;
  padding: 15px;
  background-color: white;
  border:5px solid black;
  width: 100%;
  z-index: 100;
  display: none;
  margin: auto;
  text-align: center;
}

#msg2 {
  font-weight: 800;
  font-family: Arial;
  position: absolute;
  top: 35%;
  padding: 15px;
  background-color: white;
  border:5px solid black;
  z-index: 100;
  /*visibility: hidden;*/
  display: none;
  margin: auto;
  text-align: center;
}

#place-filter {
  width: 80%;
}
 /* --- */

#side-bar {
  height: 100vh;
  width: 415px;
  max-width: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  left: -500px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

#side-bar::-webkit-scrollbar {
  display: none;
}

#sb-inner {
  height: 100%;
  width: 100%;
  position: relative;

}

#close-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  -webkit-transition: transition 0.3s;
  transition: 0.3s;
  top: 10px;
  right: 0px;
  background-color: white;
  opacity: 0.6;
  z-index: 10;
  border-radius: 2px;
  border: 1px solid transparent;
}
#close-icon:hover {
  opacity: 1.0;
}

#sb-ht {
  margin: 0px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
}
